---

import s from './styles';
---
<!-- <main  class={s.main}>
	<section class={s.SectionIzquierdo}>
		<LogoMainPage  className={s.svg}/>
		<h1 class={s.SectionIzquierdoH1}>
			BIENVENIDO <br> AL FUTURO.
		</h1>
		<p class={s.SectionIzquierdoP}  >
			Créditos 100% digitales, rápidos y sin complicaciones
		</p>
		<a href="/solicitud" class={s.SectionIzquierdoA}>
			Empezar 
		</a>
	</section>
	<section class={s.SectionDerecho}>
		<LogoMainCelular/>
	</section>
</main> -->



<main class={s.main}>
	<section class={s.SectionIzquierdo}>
		<h1 class={s.SectionIzquierdoH1}>
			BIENVENIDO <br> AL FUTURO.
		</h1>
		<p class={s.SectionIzquierdoP}  >
			Créditos 100% digitales, rápidos y sin complicaciones
		</p>
		<p class={s.SectionIzquierdoA}>TECNOLOGÍA</p>
		<p class={s.SectionIzquierdoA}>INCLUSIÓN</p>
		<p class={s.SectionIzquierdoA}>TRANSPARENCIA</p>
	</section>

</main>