---
import s from './styles';
---
<main class={s.main}>
	<section class ={s.sectionIzquierdo}>
		<h1 class={s.h1}>
			SE PARTE DE LA <br>
			REVOLUCIÓN DEL <br>
			CRÉDITO EN LATAM <br>
		</h1>
		<p class={s.p}>
			EN SOLIDARI TRANSFORMAMOS EL ACCESO AL <br>
			FINANCIAMIENTO PORQUE SOMOS:
		</p>
		<div class={s.contenedorPs}>
			<p class={s.ps}>
				TECNOLOGÍA
			</p>
			<p class={`${s.ps} sm:translate-y-[5vw]`}>
				INCLUSIÓN
			</p>
			<p class= {`${s.ps} sm:translate-y-[10vw]`}>
				TRANSPARENCIA
			</p>
		</div>
	</section>
	<section class={s.sectionDerecho}>
		<picture>
			<source media="(max-width: 767px)" srcset="/hombre-feliz-celular.webp 1x">
			<source media="(min-width: 768px) and (max-width: 1023px)" srcset="/hombre-feliz-tablet.webp 1x">
			<source media="(min-width: 1024px)" srcset="/hombre-feliz-pc.webp 1x">
			<img src="/hombre-feliz-pc.webp" alt="Hombre feliz de cómo Solidari cambió su vida y ahora es mejor">
	</picture>
	</section>
</main>
